.container {
  flex: 1;
  overflow: hidden;
  cursor: grab;
  position: relative;
}

.container:active {
  cursor: grabbing;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.nodeWrapper {
  position: absolute;
}
